/* Logo */

#logo h1 {
	margin-left: 0;
	margin-right: 0;
    padding-bottom: 10px;
    padding-left: 390px;
    
}

/* Center Page w/ Wrapper */

#wrapper { 
	margin: 0 auto; 
	
} 

/* Navigation */

#nav {
	float: left;
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
    padding: 0 auto;
    padding-bottom: 10px;
    padding-left: 200px;
   
}

#nav a:link {
    width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2d6d9c !important;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#nav a:visited {
	width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ffd938;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	
}

#nav ul {
	list-style-type: none;
	float: left;
	clear: left;
    margin: 10px;
    padding: 10px;
   
}

#nav ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px;
	padding: 20px;
}

#nav a:hover {
	text-decoration: underline;
	background-color: #62d6cd !important;
	
}

/* Remove Auto-Bolding */

h1, h2, h3, h4, a {
	font-weight: normal;
}

/* Alter HTML/Body elements */

h2 {
	padding-left: 425px;
	font-size: 2em;
	color: #2d6d9c;
	text-decoration: underline;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	background-color: #ffd938; 

}

@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica);
}


body {
	background-color: #000000;
	font-size: 15px;
	font-family: Economica, Georgia, sans-serif;
	color: #ffffff;
	text-indent: 10px;
	border: #ffd938 solid 2px;
	border-radius: 40px;
	padding: 5px;
	overflow-x: hidden;
}

#pageMainText{
	text-align: center;
	font-weight: 1em;
	line-height: inherit;
}

/* Control the location of main page picture of Katarina */

.katPic{
	padding-left: 410px;
	opacity: 0.4;
	margin: 0 auto;
	
}

/* Remove bullets from list items globally */ 

ul {
	list-style-type: none;
   
}

/* Links */

a {
	color: #ffd938;
	text-decoration: none;
}

/* Non-nav Unvisited */

a:link {
    color: #ffffff;
}

/* Non-nav Visited */

a:visited {
    color: #ffd938;
}

/* Non-nav Active */

a:active {
    color: #0000FF;
} 

/* Non-nav Hover */

ul a:hover {
	text-decoration: underline;
	background-color: #2183bf !important;
	
}


/* Ordered list color */ 

ol {
	color: #62d6cd;
}

/* Lists */

#rightBlock{
	position: relative;
	float: right;
	padding-bottom: 50px;
	width: 40%;
}

#leftBlock{
	position: relative;
	float: left;
	padding-left: 300px;
	padding-bottom: 50px;
	width: 30%;
}

#leagueLink {
	text-align: center;
	padding-bottom: 20px;
}


/* Images */

#imgContainer {
    padding: 5px;  
    padding-left: 70px;                      
	margin: 0 auto;
	border: none;
	text-align: center;
}

/* Bottom To Top Link */

#botToTop {
	padding-left: 30px;
	
}








