/* Logo */

#logo h1 {
	margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 390px;
}

/* Navigation */

#nav {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
    padding: 0 auto;
    padding-bottom: 10px;
    padding-left: 45px;
	
   
}

#nav ul {
	list-style-type: none;
	float: left;
	clear: left;
    margin: 10px;
    padding: 10px;
   
}

#nav ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px;
	padding: 20px;
}

#nav a:hover {
	text-decoration: underline;
	background-color: #62d6cd !important;
	
}

#nav a:link, #nav a:visited {
    display: block;
    width: 200px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2d6d9c;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

/* Remove Auto-Bolding */

h1, h2, h3, h4, a {
	font-weight: normal;
}

/* Alter body elements */

h2 {
	padding-left: 330px;
	font-size: 2em;
	text-decoration: underline;

}

body {
	background-color: #000000;
	color: #ffffff;
	border: #ffffff solid 2px;
	padding: 5px;
}

/* Control the location of main page picture of Katarina */

#katPic{
	padding-left: 380px;
}

/* Remove bullets from list items globally */ 

ul {
	list-style-type: none;
   
}

/* Link color and remove link underlines */

a {
	color: #ffd938;
	text-decoration: none;
}

/* Ordered list color */ 

ol {
	color: #62d6cd;
}





