/* Logo */

#logo{
    padding-bottom: 10px;
	margin: 0 auto 0 auto;
	text-align: center;
    
}

/* Center Page w/ Wrapper */

#wrapper{ 
	margin: 0 auto 0 auto; 
	width: 100%;
	overflow-x: hidden;
} 

/* Navigation */

#nav{
	float: left;
	display: inline;
	margin: 0 auto 0 auto;
	width: 100%;
	font-size: .7em;
    padding-bottom: 15px;
    text-align: center;
    clear: both;
   
}

#nav a:link{
    width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2d6d9c;
    text-align: center;
    margin-left: 85px;
    text-decoration: none;
}

#nav a:visited{
	width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ffd938;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	
}

#nav a:hover {
	text-decoration: underline;
	background-color: #62d6cd;
	
}

#nav a:active{
    color: #99a6e5;
}

#nav ul{
	list-style-type: none;
	float: left;
	clear: left;
    margin: 10px;
    padding: 10px;
   
}

#nav ul li{
	float: left;
	list-style: none;
	margin: 20px;
	padding: 20px;
}

/* Remove Auto-Bolding */

h1, h2, h3, h4, a{
	font-weight: normal;
}

/* Alter HTML/Body elements */

h2{
	padding-left: 425px;
	font-size: 2em;
	color: #2d6d9c;
	text-decoration: underline;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	background-color: #ffd938; 

}

body{
	background-color: #000000;
	font-size: 1.5em;
	font-family: Economica, Georgia, sans-serif;
	color: #ffffff;
	text-indent: 3px;
	border: #ffd938 solid 2px;
	border-radius: 40px;
	padding: 5px;
	overflow-x: hidden;
}

#pageMainText{
	text-align: center;
	font-weight: bold;
	line-height: inherit;
	margin: 0 auto;
	background-color: #2d6d9c;
	overflow-x: hidden;
	text-shadow: 2px 2px 8px #c78300;
}

p{

}

h3{
	background: #2d6d9c url(../images/dark-canvas.gif) repeat-x center;
	box-shadow: 2px 8px 20px rgba(68,68,68,0.6);
	text-align: center;
	margin:  0 auto 0 auto;
	font-style: oblique;
	color: #ffd938;
}

/* Control the location of main page picture of Katarina */

.katPic{
	display: block;
	margin: 0 auto 10px auto;
	opacity: 0.5;
	
}

/* Remove bullets from list items globally */ 

ul{
	list-style-type: none;
   
}

/* Links */

a{
	color: #ffd938;
	text-decoration: none;
}

/* Non-nav Unvisited */

a:link{
    color: #ffffff;
}

/* Non-nav Visited */

a:visited{
    color: #ffd938;
}

/* Non-nav Hover */

ul a:hover{
	text-decoration: underline;
	background-color: #2183bf;
	
}

/* Non-nav Active */

a:active{
    color: #0000FF;
} 


/* Top Champs list color */ 

ol{
	color: #62d6cd;
}

/* Lists */

#rightBlock{
	position: relative;
	float: right;
	padding-bottom: 100px;
	width: 40%;
	
}

#leftBlock{
	position: relative;
	float: left;
	padding-left: 300px;
	padding-bottom: 100px;
	width: 30%;
	clear: both;
}

#leagueLink{
	text-align: center;
	padding-bottom: 20px;
}

/* Clear Float */

#clear{
	clear: both;
}

/* Images */

#images{                 
	margin: 0 auto 0 auto;
	text-align: center;
	/*background: #ffffff no-repeat top left;*/
	
}

#images img{
	border: 2px solid;
}

figcaption{
	color: #000000;
	font-weight: bold;
	margin-bottom: 5px;
}

.Twitch{
	margin-right: 3px;
}

#leagueIcon{
	background: #000000 url(../images/leagueIcon.png) no-repeat center;
	height: 150px;
}


/* Bottom To Top Link */

#botToTop{
	margin-left: 10px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,16,198,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,16,198,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,16,198,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,16,198,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,16,198,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,16,198,1) 100%); /* W3C */
	
}








